/* body{
    background-color: black;
    color: white;
} */

/* .background-text h1{
    font-family: 'Orbitron', sans-serif;
    margin: 0;
} */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}
.vertical-text{
    writing-mode: vertical-lr;
    margin: .5rem;
}

/* hero */
.box-black {
    background-color: black;
    color: white;
    /* border: 2px solid black; */
}
.box-white {
    background-color: white;
    color: black;
    border: 2px solid black;
}
.hero-container > .flex-row {
    width: 500px;
    margin: .5rem;
    margin: -1px;
}

/* Navbar container */
header::before,
.navbar::before{
    opacity: 0;
}
header{
    /* top: 0;
    left: 0;
    position: sticky; */
    z-index: 1000;
    position: fixed;
    bottom: 0px;
    width: 100%;

    /* transition: all 0.8s ease-in-out; */
}
.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: black;
    color: white;

    height: 5vh;
    transition: all 0.8s ease-in-out;

    animation: fadeInText 1s ease-in-out; /* Fade-in animation for the navbar */
}

/* Navbar brand styling */
.navbar-brand a {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

/* Hamburger menu styling */
.hamburger-menu {
    display: none; /* Hidden by default for larger screens */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

    background: rgba(0,0,0,0);
    border: rgba(150,150,150,1) solid 1px;
    padding: .5rem;
    border-radius: .5rem;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
}

/* Navbar links styling */
.navbar-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .hamburger-menu {
        display: flex; /* Show hamburger menu */
    }

    .navbar-links {
        display: none; /* Hide links by default */
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: black;
        padding: 1rem;
    }

    .navbar-links.active {
        display: flex; /* Show links when active */
    }

    /* hero */
    .hero-container div[class~="qr-container"],
    .hero-container h3[class~="vertical-text"]{
        display: none;
    }
    .hero-container > .flex-row {
        width: 90%;
        margin: .5rem;
        margin: -1px;
    }
}


/* Fade-in animation for text */
@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(10px); /* Slight upward movement */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}